/* Main */
* {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    border-radius: 4px;
    text-align: center;
}

button {
    border-radius: 4px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    height: auto;
    border: 1px solid rgb(100,125,100);
}

.entryForm {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    max-width: fit-content;
    border: 1px solid rgb(100,125,100);
}

.leftColumn {
    float: left;
    width: 45%;
    border: 1px solid rgb(100,125,100);
    height: 94vh;
    margin: 20px;
    font-size: 125%;
}

.rightColumn {
    float: right;
    width: 45%;
    border: 1px solid rgb(100,125,100);
    height: 94vh;
    margin: 20px;
    font-size: 125%;
}

.chatBox {
    float: left;
    width: 35%;
    border: 1px solid rgb(100,125,100);
    height: 80vh;
    margin: 20px;
    margin-right: 0px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}

.homeImage {
    width: 100px;
    height: 100px;
}

.leaveGameButton {
    float: left;
    width: 17%;
    border: 1px solid rgb(100,125,100);
    position: absolute;
    top: 84vh;
    left: 20px;
    height: 13vh;
    font-size: 150%;
}

.copyIdButton {
    float: left;
    width: 17%;
    border: 1px solid rgb(100,125,100);
    position: absolute;
    top: 84vh;
    left: 19.5%;
    height: 13vh;
    font-size: 150%;
}

.playersBox {
    float: right;
    width: 60%;
    border: 1px solid rgb(100,125,100);
    height: 94vh;
    margin: 20px;
    margin-left: 0px;
    font-size: 150%;
}

.bigButton {
    font-size: 150%;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

button:active {
    filter: brightness(95%);
}

button:hover {
    filter: brightness(95%);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
}

.players {
}

/* Card Related */
.card {
    background-color: white;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid black;
}

.card:active {
    filter: brightness(97.5%);
}

.icon {
    background-color: white;
    font-size: 500%;
    user-select: none;
}

.name {
    background-color: white;
    font-size: 150%;
    user-select: none;
}